/*	app.css
	Kevin Sau Yeung Kam
	My Website
	This is an css file for my website
*/

body{
	/* gives a gradiant background */
    background-image: url("assets/grey-white-gradient.png");
    background-repeat: repeat-x;
	background-position:center center;
    background-attachment:scroll;
    background-size:100% 100%;
}
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}

/*gives a new font for these elements */
h1,h2 {
    font-family: "Arial Black", Gadget, sans-serif;
}

#projectLogo{
	border: 2px solid;
	border-radius: 25px;
	box-shadow: 10px 10px 5px #888888;
}